.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;

    border: 2px solid black;
    width: 500px;
    padding: 50px;
}

.entries button {
    margin: 10px;
    padding: 20px;
}
